.contain-table{
    margin-left:30px;
    margin-right:60px;
    padding-right:60px;
    width:calc(100% -80px);
}
.striped-table{
    width:100%;
    border-collapse:collapse;
}
.striped-table th, .striped-table td{
    padding:12px;
    text-align:left;
    border-bottom:1px solid #ddd;
}